.what-we-do-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 20px;
}
.what-we-do-text {
  width: 600px;
}
.card-container {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 90px;
  margin-left: 90px;
  margin-right: 90px;
}

@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img {
    margin-bottom: 32px;
  }
}