.our-results-section {
    background: url("images/headphones_hero_2.jpg");
    background-repeat: no-repeat;
    background-color: #071629;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 220px;
    padding: 20px;
  }


  .pentagon {
    background: url("images/pentagone.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > h2 {
        font-size: 46px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    & > p {
        font-weight: 14px;
    }
  }

