
.contact-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.contact-form-section form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 400px;
}
.name-input,
.email-input,
.message-input {
  border-top: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
}
.name-input::placeholder,
.email-input::placeholder,
.message-input::placeholder {
  font-size: 18px;
  color: rgb(168, 167, 167); /* Optional: Change placeholder text color */
}
.btn-holder {
  display: flex;
  justify-content: center;
}
.send-btn {
  padding: 10px;
  color: white;
  background: #ff6565;
  border: none;
  border-radius: 12px;
  width: 160px;
}
.send-btn:hover {
  opacity: 0.9;
}