.pentagon {
    background: url("images/pentagone.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > h2 {
        font-size: 46px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    & > p {
        font-weight: 14px;
    }

    & > p:hover {
        font-size: 16px;
    }

  }

  .pentagon:hover {
    width: 200px;
    height: 190px;
  }


footer {
  background: #071629;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: white;
}
.footer-links-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 400px;
}
.footer-logo-container {
  width: 150px;
}
.footer-logo-container img {
  width: 100%;
}
.social-links a {
  text-decoration: none;
}
.copyright-text {
  opacity: 35%;
}