html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", serif;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;

  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1000;
}
.logo-container {
  width: 175px;
}
.logo-container img {
  width: 100%;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style-type: none;
}
ul li a {
  color: white;
  text-decoration: none;
}
ul li a:hover {
  color: #ff6565;
}
.hero-section {
  height: 100vh;
  background: url("./images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 0;
}

/* Hero Section Content */
.hero-section h1 {
  font-weight: bold;
  margin-bottom: 0;
}

.bold-p {
  margin-top: 0;
  font-weight: bold;
}

.long-p {
  width: 550px;
}

.hero-section button {
  background: #ff6565;
  padding: 15px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  width: 160px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.hero-section button:hover {
  opacity: 0.9;
}

.what-we-do-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 220px;
  padding-bottom: 100px;
}
.what-we-do-text {
  text-align: center;
}
.card-container {
  display: grid;
  margin-top: 90px;
  margin-left: 90px;
  margin-right: 90px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 50px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 13px;
  transition: all 0.5s;
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.our-results-section {
  background: url("images/headphones_hero_2.jpg");
  background-repeat: no-repeat;
  background-color: #071629;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 220px;
}
.our-results-text {
  text-align: center;
}
.card1 {
  background: url("images/pentagone.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 170px;
}
.card1:hover::before {
  animation: pulse 1s ease-in-out infinite;
}

.card1:hover:not(:hover) {
  animation: spin-anticlockwise 0.5s linear forwards;
}
.card-body p {
  font-size: medium;
  transition: all 0.4s;
}
.card1-body h2 {
  margin-bottom: 0;
  font-weight: bolder;
  transition: all 0.4s;
  font-size: 46px;
}

.card1-body p:hover {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
.card1-body h2:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.card1-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}
.contact-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.contact-form-section form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 400px;
}
.name-input,
.email-input,
.message-input {
  border-top: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
}
.name-input::placeholder,
.email-input::placeholder,
.message-input::placeholder {
  font-size: 15px;
  color: rgb(168, 167, 167); /* Optional: Change placeholder text color */
}
.btn-holder {
  display: flex;
  justify-content: center;
}
.send-btn {
  padding: 10px;
  color: white;
  background: #ff6565;
  border: none;
  border-radius: 16px;
  width: 160px;
}
.send-btn:hover {
  opacity: 0.9;
}
footer {
  background: #071629;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  color: white;
}
.footer-links-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 400px;
}
.footer-logo-container {
  width: 150px;
}
.footer-logo-container img {
  width: 100%;
}
.social-links a {
  text-decoration: none;
}
.copyright-text {
  opacity: 35%;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .our-results-section {
        padding: 220px 40px;
    }

    .what-we-do-section {
        padding-left: 40px;
        padding-right: 40px;
      }
  }

  @media only screen and (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .our-results-section {
        padding: 220px 40px;
    }

    .what-we-do-section {
        padding-left: 40px;
        padding-right: 40px;
      }
  }

@media only screen and (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
    }
    .our-results-section, .what-we-do-section{
        padding: 220px;
    }

 
  } 
